.container {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.container-ulti {
    width: 15%;
    background-color: antiquewhite;
}

.container-main-page {
    width: 75%;
    background-color: aqua;
}

.detail-page-detail {
    margin-top: 15px;
    padding: 0 50px;
    padding-bottom: 10px;
    background-color: white;
}

.detail-page-user {
    width: 50%;
}
