.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin-top: 40px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.half-page-image {
  width: 100%; /* Makes the image cover 50% of the viewport width */
  height: 60vh;
  object-fit: cover;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 2em;
}

.centered-text h1 {
  margin: 0;
}

.centered-text p {
  margin-top: 10px;
  font-size: 1.1em;
}

.title-banner {
  justify-content: center;
  display: flex;
}

.search-bar-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.search-bar-container input{
  padding-left: 20px;
}

.search-bar {
  padding: 3px;
  width: 100%;
  border: 1px solid #d2b48c; /* Adjust the color to fit your theme */
  border-radius: 15px; /* For rounded edges */
  font-size: 0.8em;
  padding-right: 40px; /* Space for the icon */
}

.search-icon-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
}

.search-icon {
  width: 20px; /* Adjust icon size */
  height: 20px;
  margin-left: 20px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  gap: 10px; /* Space between the buttons */
  justify-content: center;
}

.custom-button {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5); /* Light border */
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1; /* Ensures button text stays above background */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: rgba(255, 255, 255, 0.4); /* Darker background on hover */
  backdrop-filter: blur(15px); /* More intense blur on hover */
}

.property-card {
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 16px; /* Equal to Material-UI spacing of '2' */
  border-radius: 5px;
  overflow: hidden; /* To handle rounded corners */
  border: 1px solid #e0e0e0;  /*You can add a border if needed */
  width: 50%;
}

.property-image {
  width: 25%;
  height:  25%;
  object-fit: cover; /* To maintain image aspect ratio */
}

.property-content {
  padding: 10px; /* You can adjust the padding as needed */
  width: fit-content;
}

.property-title-link {
  text-decoration: none;
  color: inherit;
  width: 25%;
}

.property-title {
  font-size: 24px;
  margin: 0;
  width: fit-content;
}

.property-price-container {
  display: flex;
  align-items: center;
  margin-top: 8px; /* Spacing similar to Material-UI's marginTop 1 */
  width: 25%;
}

.property-price-icon {
  color: red;
  font-size: 20px;
  margin-right: 8px; /* Spacing between icon and text */
}

.property-price-text {
  color: #757575; /* 'text.secondary' equivalent */
  font-size: 14px;
}